<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
</head>
<body>

<div class="sample">
	<button v-on:click="isShowSecondSelect = !isShowSecondSelect">ShowSelect - вариант 1</button>
	<button v-on:click="toggleName">ShowSelect - вариант 2</button>
	<br/><hr/>
	<input type="text" name="" v-model="moreThis">
	<button v-on:click="filt">Filter</button>
	<hr/>
	<button v-on:click="filtArray">FilterArray</button>
	<select name="" id="" v-model="selectedCity">
		<option selected="selected">Enter the city</option>
		<option v-for="city in cities">
			{{ city }}
		</option>
	</select>
	Selected : {{ selectedCity }}
	<br/>
	<input type="text" v-model="findCity" v-on:input="filtArray($event,cities,findCity)">
	<br/>
	<ul>
	<li v-for="city in newCities">
		{{ city }}
	</li>
	</ul>
	<hr/>
	<ul v-if="isShowSecondSelect">
		<li v-for="ar in arrS">
			{{ ar }}
		</li>
	</ul>
</div>
	<script src="vue.js" type="text/javascript"></script>
	<script>
		let sample = new Vue({
			el:'.sample',
			data: {
				cities: ["Moscow","Germany","USA"],
				selectedCity:'Enter the city',
				findCity:'',
				newCities:[],
				arr: [1,23,4,52,6,2,1,4],
				arrS:[],
				moreThis:5,
				isShowSecondSelect: true
			},
			methods: {
				toggleName(){
					this.isShowSecondSelect = !this.isShowSecondSelect
				},
				filt(value){
					// console.log(typeOf(this.moreThis));
					this.arrS = this.arr.filter(function(value) {
						  return value > 5;
						});
				},
				filtArray(value,findValue){
					// console.log(typeOf(this.moreThis));
					      findValue = this.findCity;
						  this.newCities = this.cities.filter(function(value) {
						  // x.match("test")
						  //let myBool = value.indexOf("Moscow");
						  //if( ~value.indexOf(findValue)){ 
						  if( value.match(findValue)){ 
						  	// сделать через регулярное выражение
						  	return value;
						  }
						  else{console.log("NOT FOUND:"+findValue)}
						  // console.log(this.findCity);
						  	
						 
						});
				}
			},
			computed: {
				showSelect(){
					if(this.selectedCity == 'Moscow')
						{
							this.isShowSecondSelect = true;
					}
					else {this.isShowSecondSelect = false;}
					
				}

			}
		});
	</script>
</body>
</html>