<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
</head>
<body>
<div class="sample">
	<input type="" name="" 
	       v-on:input="name = $event.target.value"
	       v-bind:value="name"
	       v-on:change="onChange">
	<hr/>
	<button @click="showName = !showName">ToggleName</button>
	<button @click="toggleName">ToggleName2</button>
	<h2 v-if="showName">Hello, {{ name }} </h2>
	<br/>
	<hr/>
	<input type="text" name="" v-model="firstName">
	<input type="text" name="" v-model="lastName">
	<h2>Hello, {{ fullName }} </h2>
</div>

	<script src="js/vue.js" type="text/javascript"></script>
	<script>
		sample = new Vue({
			el: ".sample",
			data:{
				name: 'Default',
				showName: true,
				firstName:'',
				lastName:''
			},
			methods: {
				onChange(e){
					console.log(this);
					console.log(e);
				},
				toggleName(){
					return this.showName = !this.showName;
				}
			},
			computed: {

				fullName(){
					return this.firstName + ' ' + this.lastName;
				}
			}
		});

//Сброс значения при изменении размера окна
		// window.addEventListener('resize', function (){
		// 	sample.name= '';
		// });
	</script>
</body>
</html>