<!-- <style>@bootstrap.min@</style> -->

<style>
  table.tblResultsR{
  	border-color:black;
	border-width:1px;
	border-style:solid;
	border-collapse:collapse;
	color:black;
	font-size: 9pt; 
	text-align: center;
  }
  table.tblResultsR th,table.tblResultsR td{
	padding:3px;
	border-color:black;
	border-width:1px;
	border-style:solid;
	border-collapse:collapse;
	color:black;
  }
  .fcol{
	width:50px;
  }
  .scol{
	width:40px;
  }
  .tcol{
	width:550px;
  }
  .focol{
	width:200px;
  }
  .ficol{
	width:400px;
  }
</style>

<div id="AuditTest">
	<table class = "tblResultsR"> 
			<thead>
				<tr>
					<th> 
						Questions
					</th> 
				</tr>
				<tr>
					<th> 
						Answers
					</th> 
				</tr>
			</thead>
			<tbody> 
				<tr v-for="value in Test">
					<td class = "tcol" align="center">
						{{ value.questionText }}
					</td>
					<td class = "tcol" align="center" v-for="answer in Test.answerCheckBox">
						<input type="checkbox" name="" value="">{{ answer.answerCheckBox }}
					</td>
				</tr>
			</tbody>
	</table>
</div>

<script src="../Src/vue/vue.js"></script>
<script>
	var test = new Vue({
		el: '#AuditTest',
		data: {
			Test: [
			 {questionText: 'Do you...',answerCheckBox: ['var1','var2','var3','var4']},
			 {questionText: 'Do you...',answerCheckBox: ['var2''var1','var1']},
			 {questionText: 'Do you...2',answerCheckBox: 'var3'},
			 {questionText: 'Do you...3',answerCheckBox: 'var4'},
			 {questionText: 'Do you...3',answerCheckBox: 'var5'}
			]
		}
	});
</script>
